<div class="sidebar">

  <div class="sidebar-header">
    <img src="assets/img/avatars/8.jpg" class="img-avatar" alt="Avatar">
    <div><strong>JOHN DOE</strong></div>
    <div class="text-muted"><small>Founder &amp; CEO</small></div>
  </div>

  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">
        Dashboard
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        UI Elements
      </li>

      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Tools</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/projects']"><i class="icon-puzzle"></i> Projects</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
